@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* primary */
  --primary-Red: hsl(0, 100%, 74%);
  --primary-Green: hsl(154, 59%, 51%);
  /* accent */
  --accent-Blue: hsl(248, 32%, 49%);
  /* neutral */
  --neutral-Dark-Blue: hsl(249, 10%, 26%);
  --neutral-Grayish-Blue: hsl(246, 25%, 77%);
  /* font */
  --base-font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  font-family: "Poppins", sans-serif;
}

.main {
  width: 375px;
  background-color: #773344;
  margin: auto;
}

.header {
  font-size: 2em;
  color: white;
  text-align: center;
}
form {
  padding: 1rem;
}
.para {
  color: white;
  text-align: center;
  line-height: 2;
  padding: 2em 1em;
}

input {
  margin: 1rem auto;
  width: 100%;
  padding: 1.3rem;
  border-radius: 0.43em;
}

button {
  width: 100%;
  padding: 10px;
}
.error {
  display: none;
}
input:invalid[focused="true"] ~ .error,
input:invalid[focused="true"]::placeholder {
  color: var(--primary-Red);
  display: block;
}

input:invalid[focused="true"] {
  border: 1px solid var(--primary-Red);
  background-image: url("./images/icon-error.svg");
  background-position: 95%;
  background-size: 35px;
  background-repeat: no-repeat;
}
